header, section, h3{
    font-family: 'Architects Daughter', cursive;
    color: white;
}
h1{
    font-size: 80px;
    color: white;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 45px;
}
label{
    font-size: 25px;
}