@import 'setup';
@import 'typography';
@import 'mixins';
@import 'mediaQueries';
@import 'modal';

html{
        scroll-behavior: smooth;
}

body{
    background: #4C2A85;
    background: radial-gradient(circle,#4C2A85 5%, #7d83ff 100%);
}
.dogHeader{
    background-image: url("../assets/nathaniel-bowman-DCOH4VDnEQU-unsplash.jpg");
    @include headerRules;
}
.catHeader{
    background-image: url("../assets/ramiz-dedakovic-bmGy-eqrl1k-unsplash.jpg");
    @include headerRules;
}
section{
    text-align: center;
    display:flex;
    flex-direction: column;
}
.question{
    height:300px;
}
button{
    margin-bottom: 35px;
    background: #fdca40;
    height:65px;
    width:200px;
    border:none;
    font-weight: bold;
    border-radius: 15px;
}
#dogForm button, #catForm button{
        height:70px;
}
button:hover, button:focus{
    background-color: #Ea9010;
    color:#A4031F;
    cursor: grab;
}
input{
    margin-right: 5%;
    cursor: pointer;
}
.fas{
    color:white;
    font-size: 50px;
}
.resultPic{
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:hover, a:focus{
    color: #30415d;
    cursor: pointer;
}
.close{
    display:none;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
#tryAgain{
    margin-top: 5%;
}

