@import 'setup';
@import 'typography';

body{
    background: rgb(48,65,93);
    background: radial-gradient(circle, rgba(48,65,93,1) 10%, rgba(207,103,102,1) 100%);
}
.dogHeader{
    text-align: center;
    background-image: url("../assets/nathaniel-bowman-DCOH4VDnEQU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}
.catHeader{
    text-align: center;
    background-image: url("../assets/ramiz-dedakovic-bmGy-eqrl1k-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}
section{
    text-align: center;
    display:flex;
    flex-direction: column;
}
.question{
    height:300px;
}
button{
    margin-bottom: 50px;
    background: lightblue;
    color:#031424;
    height:80px;
    width:200px;
    font-family: 'Roboto', sans-serif;
    border:none;
    font-weight: bold;
}
button:hover, button:focus{
    background-color: #30415d;
    color: #cf6766;
    cursor: grab;
}
input{
    margin-right: 5%;
    cursor: pointer;
}
.fas{
    color:white;
    font-size: 50px;
}
